body{
    font-family: 'Open Sans Condensed', sans-serif;
    background-image: url("/img/background-b.png");
    background-repeat: no-repeat;
    background-size: cover;
    /* SPEC FOR FIREFOX THE BEST BROWSER */
    width: 100%;
    height: 100%;
    margin: 0;
    /* ~~~~~~~~~~~~~~~~ */
}

.main, .central{
    transform: translate(-50%, -50%);
    position: fixed; 
    top: 50%; 
    left: 50%;
}

.main{
    height: 55vh;
    width: 60vw;
}

.central{
    opacity: 0.98;
    width: 60vw;
    height: 45vh;
    background-color: #32393e;
}

.login, .sign_up{
    position: absolute;
    top: 18%;
    width: 40%;
    height: 50%;
    padding-left: 10px;
}

.login, .sign_up p, h2{
    color: white;
    margin-bottom: 5;
}

.sign_up{
    left: 4%;
}

.login{
    right: 1%;
}

#button{
    border: 1px solid white;
    border-radius: 3px;
    color: white;
    font-size: 17px;
    height: 25px;
    width: 105px;
    margin-top: 20px;
    padding-left: 40px;
    padding-top: 6px;
    cursor: pointer;
}

a{
    text-decoration: none;
    color: #ffffff
}

a:hover{
    text-decoration: underline;
    color: rgb(157, 157, 230)
}

form{
    position: absolute;
    background-color: white;
    margin-left: 20px;
    width: 45%;
    height: 100%;
}

form fieldset{
    margin-top: 30px;
    border: none;
}

form legend{
    font-size: 24px;
    color: #3f9eff;
    margin-bottom: 25px;
}

form input{
    position: relative;
    margin-bottom: 20px;
    padding-bottom: 7%;
    border:none;
    border-bottom:1px solid #ababab;
    width:100%
}

form i{
    position: absolute;
    z-index: 1;
    left: 90%;
    font-size: 12px;
    color: #d4d4d4;
}

form input::placeholder{
    color: #dcdcd8;
    font-size: 15px;
}

form input:focus{
    outline: none;
}

form button{
    float: right;
    margin-top: 20px;
    background-color: #3f9eff;
    color: white;
    border: none;
    font-size: 15px;
    padding: 7px 29px;
    border-radius: 4px;
    outline: none;
}