button{
    height: 30px;
    width: 120px;
    background-color: lightblue;
    border: none;
    box-shadow: 1px 1px 1px rgb(0, 0, .1);
    outline: none;
    border-radius: 2px
}

button:hover{
    animation: colch 2s linear  
}

.square{
    width: 60px;
    height: 60px;
    margin: 20px;
    box-shadow: 0 0 1px rgb(0, 0, .4);
    animation: sqcolch 2s linear 1s infinite
}

.prog-bar{
    position: relative;
    margin-top: 30px;
    height: 30px;
    width: 20%;
    border: 1px solid gray;
    box-shadow: 0 0 1px rgb(0, 0, .4)
}

.prog-status1, .prog-status2{
    position: absolute;
    z-index: -1;
    height: 30px;
    background-color: lightgreen
}

.prog-status1{
    width: 7%;
    animation: progress1 1s ease-in-out 1s infinite
}

.prog-status2{
    animation: progress2 4s linear 1s infinite
}

@keyframes colch{
    to{
        background-color: red;
        color: white
    }
}

@keyframes sqcolch{
    from{
        background-color: yellow;
        transform: rotate(0deg)
    }
    to{
        background-color: blue;
        transform: rotate(360deg)
    }
}

@keyframes progress1{
    from{
        left: 0%
    }
    to{
        left: 93%
    }
}

@keyframes progress2{
    from{
        width: 0%
    }
    to{
        width: 100%
    }
}